@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

body {
    background: black;
}

.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #17D4FE;
    font-size: 60px;
    font-family: "zen dots", cursive;
    letter-spacing: 7px;
}